$simple-prefix-cls: '#{$tonyname}-simple-menu';
$prefix-cls: '#{$tonyname}-menu';
$dark-prefix-cls: '#{$tonyname}-menu-dark';
$vertical-prefix-cls: '#{$tonyname}-menu-vertical';

.#{$prefix-cls} {
  .collapse-title {
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.#{$simple-prefix-cls} {
  &-sub-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s;
  }

  &-tag {
    position: absolute;
    top: calc(50% - 8px);
    right: 30px;
    display: inline-block;
    padding: 2px 3px;
    margin-right: 4px;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
    border-radius: 2px;

    &--collapse {
      top: 6px !important;
      right: 2px;
    }

    &--dot {
      top: calc(50% - 2px);
      width: 6px;
      height: 6px;
      padding: 0;
      border-radius: 50%;
    }

    &--primary {
      background-color: var(--primary-color);
    }

    &--error {
      background-color: var(--error-color);
    }

    &--success {
      background-color: var(--success-color);
    }

    &--warn {
      background-color: var(--warning-color);
    }
  }
}

.#{$dark-prefix-cls} {
  &.#{$vertical-prefix-cls} {
    .#{$simple-prefix-cls}__parent {
      background-color: var(--sider-background-color);
      > .#{$prefix-cls}-submenu-title {
        background-color: var(--sider-background-color);
      }
    }
  }
}
