$prefix-cls: '#{$tonyname}-layout-header';

.#{$prefix-cls} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0;
  line-height: var(--header-height);
  color: var(--header-text-color);
  background-color: var(--header-background-color);

  &--mobile {
    .error-action,
    .notify-item,
    .fullscreen-item {
      display: none;
    }

    .#{$tonyname}-app-logo {
      min-width: unset;
      padding-right: 0;

      &__title {
        display: none;
      }
    }

    // .#{$header-trigger-prefix-cls} {
    //   padding: 0 4px 0 8px !important;
    // }
    .#{$prefix-cls}-action {
      padding-right: 4px;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }

  &-logo {
    height: var(--header-height);
    min-width: 192px;
    padding: 0 10px;
    font-size: 14px;

    img {
      width: var(--logo-size);
      height: var(--logo-size);
      margin-right: 2px;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    height: 100%;

    .#{$prefix-cls}-trigger {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 1px 10px 0;
      cursor: pointer;
      background-color: var(--header-background-color);

      &:hover {
        background-color: var(--header-background-hover-color);
      }

      svg {
        height: 24px;
        font-size: 24px;
      }
    }
  }

  &-menu {
    align-items: center;
    height: 100%;
    min-width: 0;
    flex: 1;
  }

  &-action {
    display: flex;
    align-items: center;
    min-width: 180px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--header-height);
      height: var(--header-height);
      padding: 0;
      font-size: 1.2em;
      color: inherit;
      cursor: pointer;

      &:hover {
        background: var(--header-background-hover-color);
      }

      .el-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__content {
          position: absolute;
          top: -8px;
          right: calc(50% - 16px);
          width: 16px;
          height: 16px;
          padding: 0;
          font-size: 12px;
          line-height: 16px;
          border: none;
          transform: none;
        }

        &__content.is-dot {
          top: -3px;
          right: calc(50% - 12px);
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}
