// @use 'color.scss' as *;
// @use 'easing.scss' as *;
// @use 'breakpoint.scss' as *;

$namespace: tony;

// tabs
$multiple-height: 62px;

// headers
// header-height: 48px;

// logo width
// logo-width: 32px;

// consistent with `menuWidth` in document settings\projectSetting.ts
$side-width: 220px;
$side-mini-width: 48px;
$side-logo-height: 64px;
$side-drag-z-index: 200;
$page-loading-z-index: 10000;
$layout-header-fixed-z-index: 500;
$preview-comp-z-index: 1000;
$page-footer-z-index: 99;
