$elenamex: 'el-alert';

.#{$elenamex} {
  border-style: solid;
  border-width: 1px;

  &.is-light,
  &.is-dark {
    .el-alert__closebtn {
      color: inherit;
    }
  }
}

html[data-theme='dark'] {
  .#{$elenamex} {
    &--info {
      --el-color-info: var(--text-secondary-color);
      --el-alert-bg-color: var(--background-primary-color);
    }
  }
}
