.el-button {
  --el-button-text-color: var(--primary-color);
  --el-button-bg-color: var(--blue-color-a15);
  --el-button-border-color: transparent;
  --el-button-disabled-text-color: var(--text-tertiary-color);

  // hover
  --el-button-hover-text-color: var(--primary-color);
  --el-button-hover-bg-color: var(--blue-color-a15);
  --el-button-hover-border-color: transparent;

  // Resize the button to 40px
  height: var(--el-button-size);

  &.is-plain {
    --el-button-hover-border-color: inherit;
    --el-button-hover-bg-color: inherit;
  }

  &--default {
    --el-button-size: 40px;
  }

  &--large {
    --el-button-size: 48px;
  }

  &--small {
    --el-button-size: 32px;
  }

  &.is-circle {
    width: var(--el-button-size);
    height: var(--el-button-size);
  }

  &--primary,
  &--warning,
  &--success,
  &--info,
  &--danger {
    --el-button-text-color: var(--white-color);
    --el-button-disabled-text-color: var(--white-color);
    --el-button-hover-text-color: var(--white-color);
  }

  // &--primary {
  //   --el-button-bg-color: var(--primary-color) !important;
  //   --el-button-border-color: var(--primary-color) !important;
  //   --el-button-hover-bg-color: var(--blue-color-control-1) !important;
  //   --el-button-hover-border-color: var(--blue-color-control-1) !important;
  //   --el-button-active-bg-color: var(--primary-color) !important;
  //   --el-button-active-border-color: var(--primary-color) !important;
  // }

  svg {
    display: inline-block;
  }

  [class*=el-icon]+span {
    vertical-align: text-top;
  }
}
