$elenamex: 'el-card';

.#{$elenamex} {
  --el-color-black: var(--background-primary-color);
  --el-card-border-radius: var(--radius-base);
  --el-box-shadow-light: var(--card-shadow);

  border: none;

  &.is-border {
    border-color: var(--el-card-border-color);
  }

  &__header {
    &--title {
      // margin-bottom: 2rem;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 2.5rem;
    }
  }

  // &.is-hover-shadow:hover,
  // &.is-hover-shadow:focus,
  // &.is-always-shadow {
  //   box-shadow: var(--card-shadow);
  // }

  &__body {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  }
}

html[data-theme='dark'] {
  .#{$elenamex} {
    --el-text-color-primary: var(--text-primary-color);
    --el-card-bg-color: var(--background-primary-color);
    --el-card-border-color: var(--border-color)
  }
}
