// element plus basic color fix
[class^='el-'] {
  // color
  --el-color-primary: var(--primary-color);
  --el-text-color-primary: var(--text-primary-color);
  --el-text-color-regular: var(--text-secondary-color);
  --el-bg-color: var(--background-secondary-color);
  --el-input-text-color: var(--text-primary-color);
  --el-input-bg-color: transparent;
  --el-datepicker-icon-color: var(--text-primary-color);
  --el-datepicker-hover-text-color: var(--primary-color);
  --el-datepicker-active-color: var(--primary-color);
  --el-datepicker-inrange-bg-color: var(--primary-color);
  --el-datepicker-inrange-hover-bg-color: var(--primary-color);
  --el-datepicker-off-text-color: var(--disabled-color);
  --el-card-border-color: var(--border-grey-color);
  --el-border-color-light: var(--border-grey-color);
  --el-drawer-bg-color: var(--background-secondary-color);
  --el-border-color-base: var(--border-grey-color);
  --el-disabled-bg-color: var(--disabled-color);
  --el-disabled-border-color: var(--border-grey-color);
  --el-disabled-text-color: var(--text-secondary-color);

  // box shadow
  --el-box-shadow-light: var(--card-shadow);

  // font
  --el-font-size-base: var(--font-size-base);

  // border radius
  --el-popper-border-radius: var(--radius-base);
  --el-border-radius-base: var(--radius-base);
  --el-card-border-radius: var(--radius-base);
}
