$elenamex: 'el-date';

.#{$elenamex} {
  // &.is-active {
  // }

  // &-editor {
  //   .el-range-input {
  //   }
  // }
}

html[data-theme='dark'] {
  .#{$elenamex} {
    &-table {
      --el-border-color-lighter: var(--border-color-light);
      --el-datepicker-off-text-color: var(--text-disabled-color)
    }
  }
}
