$elenamex: 'el-dialog';

// .#{$elenamex} {
// }

html[data-theme='dark'] {
  .#{$elenamex} {
    --el-dialog-bg-color: var(--background-secondary-color);
    --el-text-color-regular: var(--text-secondary-color);
  }
}
