$elenamex: 'el-input';

.#{$elenamex} {
  &__inner {
    --el-input-focus-border: var(--border-blue-color);
    --el-input-hover-border: var(--border-grey-hover-color);

    border-color: var(--border-grey-color);
  }

  &-number {
    &__decrease,
    &__increase {
      border-color: var(--border-grey-color);
    }

    .#{$elenamex}__inner {
      border-color: var(--border-grey-color);
    }
  }

  &__prefix,
  &__suffix {
    &-inner {
      align-items: center;
    }
  }

  &-group {
    &__append,
    &__prepend {
      color: var(--text-secondary-color);
      border-color: var(--border-grey-color);
    }

    // &--preend .#{$elenamex}__inner,
    // &--append .#{$elenamex}__inner {
    //   padding: 0 32px;
    // }
  }
}

.el-textarea{
  &__inner {
    border-color: var(--border-grey-color);

    &:focus,
    &:hover {
      --el-input-focus-border: var(--border-blue-color);
      --el-input-hover-border: var(--border-blue-color);
    }
  }
}
