.el-input {
  &__inner {
    height: 42px;
    line-height: 42px;
    border-color: transparent;
  }

  &:focus,
  &:hover {
    --el-input-focus-border: transparent;
    --el-input-hover-border: transparent;

    background-color: var(--control-background-hover);
  }

  &-number__decrease,
  &-number__increase {
    border: none;

    ~ .el-input:not(.is-disabled) .el-input__inner {
      border-color: var(--control-background-hover);
    }

    &:hover {
      background-color: var(--control-background-hover);

      ~ .el-input:not(.is-disabled) .el-input__inner {
        border-color: transparent;
      }
    }
  }
}

.el-textarea{
  &__inner {
    border-color: transparent;

    &:focus,
    &:hover {
      --el-input-focus-border: transparent;
      --el-input-hover-border: transparent;

      background-color: var(--control-background-hover);
    }
  }
}
