$elenamex: 'el-pagination';

.#{$elenamex} {
  .el-select {
    .el-input {
      &__inner {
        padding: 0 16px;
      }

      width: 90px;
    }
  }
}

html[data-theme='dark'] {
  .#{$elenamex} {
    --el-pagination-text-color: var(--text-secondary-color);
    --el-text-color-regular: var(--text-secondary-color);
    --el-pagination-button-bg-color: var(--background-control-color);

    .btn-prev:disabled,
    .btn-next:disabled {
      --el-text-color-placeholder: var(--text-disabled-color);
      --el-disabled-bg-color: var(--background-disabled-color);
    }

    &__jump,
    &__total {
      --el-text-color-regular: var(--text-secondary-color);
    }
  }
}
