$elenamex: 'el-picker';

.#{$elenamex} {
  &-panel {
    background-color: transparent;
  }
}

html[data-theme='dark'] {
  .#{$elenamex} {
    &-panel {
      --el-text-color-regular: var(--text-primary-color);
    }
  }
}
