.el-popper{
  --el-popper-border-radius: var(--radius-base);

  &.is-dark {
    color: var(--white-color);
    background-color: var(--grey-color-3);
    border: 1px solid var(--grey-color-3);

    .el-popper__arrow::before {
      background-color: #44566c;
    }
  }

  &.is-light {
    color: var(--text-primary-color);
    background-color: var(--background-primary-color);
    border-color: var(--grey-color-5);
    box-shadow: var(--card-shadow);

    .el-popper__arrow {
      --pop-bd: var(--grey-color-5);
      --pop-bg: var(--background-primary-color);

      &::before {
        background-color: var(--pop-bg, inherit);
        border-color: var(--pop-bd, inherit);
      }
    }
  }
}
