$elenamex: 'el-radio';

// .#{$elenamex} {
// }

html[data-theme='dark'] {
  .#{$elenamex} {
    --el-radio-input-border: var(--el-border-width) var(--el-border-style) var(--border-color);
    --el-radio-text-color: var(--text-control-color);
    --el-radio-input-bg-color: var(--background-control-color);
    --el-button-border-color: var(--background-control-color);

    &-button {
      --el-border: var(--el-border-width) var(--el-border-style) var(--border-color);
      --el-button-text-color: var(--text-control-color);
      --el-button-bg-color: var(--background-control-color);
      --el-button-border-color: var(--background-control-color);
    }
  }
}
