@use 'mix_tooltip.scss' as *;

.el-select {
  width: 100%;
  --el-select-border-color-hover: transparent;

  &-dropdown {
    background-color: var(--background-primary-color);

    &__item {
      background-color: var(--background-primary-color);

      &:hover,
      &.selected,
      &.hover {
        font-weight: normal;
        background-color: var(--control-background-hover);
      }
    }
  }

  &__popper{
    &.el-popper[role='tooltip'] {
      @include tooltip ();
    }
  }

  .el-input__inner {
    padding-right: 32px;
    padding-left: 32px;
  }

}
