$elenamex: 'el-select';

.#{$elenamex} {
  width: 100%;
}

html[data-theme='dark'] {
  .#{$elenamex} {
    --el-fill-color: var(--background-secondary-color);

    &-dropdown {
      &__item {
        --el-fill-color-light: var(--background-secondary-color);

        &.is-disabled {
          --el-text-color-placeholder: var(--text-disabled-color);

          background: var(--background-disabled-color);
        }
      }
      --el-text-color-regular: var(--text-secondary-color);
      --el-fill-color-light: var(--background-primary-color);
    }
  }
}
