$elenamex: 'el-slider';

// .#{$elenamex} {
// }

html[data-theme='dark'] {
  .#{$elenamex} {
    --el-color-white: var(--background-primary-reverse);
    --el-slider-runway-bg-color: var(--background-secondary-color);
  }
}
