.el-table {
  --el-table-row-hover-bg-color: var(--background-primary-color);
  --el-table-header-bg-color: var(--background-secondary-color);
  --el-table-border-color: var(--border-color);
  --el-table-tr-bg-color: var(--white-color);

  &__inner-wrapper {
    &::after,
    &::before {
      display: none;
    }
  }

  &__header {
    &-wrapper {
      tr  {
        th.el-table-fixed-column--left ,
        th.el-table-fixed-column--right {
          background: var(--el-table-header-bg-color);
          filter: brightness(0.96);
        }
      }
    }
  }

  &--striped {
    .el-table__body tr.el-table__row--striped td.el-table__cell {
      background: var(--background-secondary-color);
    }
  }
}

html[data-theme='dark'] {
  .el-table {
    --el-table-tr-bg-color: var(--black-color);
  }
}
