.el-table {
  --el-table-row-hover-bg-color: var(--background-secondary-color);
  --el-table-header-bg-color: var(--background-tertiary-color);
  --el-table-border-color: var(--border-grey-color);
  --el-table-tr-bg-color: var(--white-color);

  .el-table__inner-wrapper {
    &::after,
    &::before {
      display: none;
    }
  }
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: var(--background-tertiary-color);
}

html[data-theme='dark'] {
  .el-table {
    --el-table-tr-bg-color: var(--black-color);
  }
}
