$prefix-cls: '#{$namespace}-basic-modal';

.#{$prefix-cls} {
  .el-dialog {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.is-drag:hover {
        background-color: var(--background-primary-color);
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  &__close {
    display: flex;
    align-items: center;

    > span {
      width: 32px;
      height: 32px;
      line-height: 32px;
      color: var(--text-secondary-color);
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
      }

      > svg {
        width: 60%;
        height: 60%;
      }
    }
  }

}
