@use 'var/index.scss' as *;

@import 'basic.scss';
@import 'transition/index.scss';
@import 'public.scss';

// element plus style
@import 'ele/index.scss';

$breakpoints: (
  'xs': 375px,
  'sm': 576px,
  'sm-tablet': 768px,
  'md': 992px,
  'lg-tablet': 1024px,
  'lg': 1200px,
  'xl': 1366px
) !default;

@font-face {
  font-family: 'Urial';
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/fonts/URIAL.woff') format('woff'), /* Modern Browsers */
    url('@/assets/fonts/URIAL.woff2') format('woff2'), /* Modern Browsers */
    url('@/assets/fonts/URIAL.ttf') format('truetype'); /* Safari, Android, iOS */

  text-rendering: optimizeLegibility;
}

/* Variables */
:root {
  --black-color: #15232e;
  --black-color-2: #1f2935;
  --black-color-3: #2d3743;
  --black-color-4: #333e4c;
  --black-color-control-1: #141f27;
  --black-color-control-2: #1d2c38;
  --black-color-control-light: #333e4c;
  --grey-color-1: #8697a8;
  --grey-color-2: #a6b2bf;
  --grey-color-3: #44566c;
  --grey-color-4: #b3c0ce;
  --grey-color-5: #cfcfd1;
  --grey-color-6: #737781;
  --grey-color-7: #c4c4c4;
  --grey-color-8: #ebeef5; // #ced4da
  --grey-light-color-1: #f8fafb;
  --grey-light-color-2: #eef3f5;
  --grey-light-color-3: #eaedf0;
  --grey-light-color-4: #eff4f8;
  --grey-light-color-5: #f5f7fa; // #f4f4f9
  --grey-light-color-6: #e5e5e5;
  --white-color: #fff;
  --blue-color: #0081ff;
  --blue-color-a15: rgba(0, 129, 255, 0.15);
  --blue-color-2: #0037fa;
  --blue-color-control-1: #2c91f7;
  --blue-color-control-2: #0f3ad8;
  --teal-color: #22cce2;
  --red-color: #fd594a;
  --red-color-2: #ff3d57;
  --green-color: #09b66d;
  --orange-color: #ff8a48;
  --orange-color-2: #fdbf5e;

  /* Transitions */
  --t-base: 0.18s ease-in-out;
  --t-smooth: cubic-bezier(0.215, 0.61, 0.355, 1);
  --t-elastic: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  /* Fonts */
  --font-size-base: 16px;
  --font-family-default: 'Roboto', sans-serif;
  --font-family-secondary: 'Urial', sans-serif;
  --font-family-third: 'Rounded Mplus 1c';
  --font-icons: 'Material Icons';
  --sidebar-width: 15rem;
  --sidebar-full-width: 15rem;
  --sidebar-collapse-width: 64px;
  --header-height: 3rem;
  --subheader-height: 4.2rem;
  --order-tabs-height: 4.3333rem;
  --order-tabs-offset-bottom: 2.6667rem;
  --container-width: 100%;
  --container-width-xl: 1200px;
  --container-gutter: 30px;
  --container-gutter-sm: 24px;
  --column-gutter: 15px;
  --column-gutter-md: 12px;
  --column-gutter-sm: 10px;
  --column-gutter-xs: 7px;
  --gutter-bottom-xl: 2rem;
  --gutter-bottom-lg: 1.6rem;
  --gutter-bottom-sm: 1.3333rem;
  --gutter-bottom-xs: 14px;
  --calendar-inline-width: 307px;
  --radius-base: 5px;
  --radius-lg: 10px;
  --tooltip-arrow-size: 12px;
  --logo-size: 2rem;

  /* Cards */
  --card-border-radius: 10px;
  --card-gutter-x: 2.6667rem;

  /* Inputs */
  --input-gutter-x: 17px;

  @media screen and (max-width: 1365px) {
    --sidebar-width: 64px;
    --container-gutter: 1.6rem;
    --column-gutter: 10px;
    --column-gutter-md: 10px;
    --gutter-bottom-xl: 1.5rem;
    --card-gutter-x: 1.25rem;
  }

  @media screen and (max-width: 991px) {
    --order-tabs-offset-bottom: 16px;
  }

  @media screen and (max-width: 767px) {
    --subheader-height: 3.2rem;
    --order-tabs-height: 3.4rem;
    --container-gutter-sm: 15px;
  }

  @media screen and (max-width: 575px) {
    --gutter-bottom-xl: 1.1rem;
  }

  @media screen and (max-width: 374px) {
    --container-gutter: 10px;
    --column-gutter: 8px;
  }
}

/* Colors theme */
html[data-theme='light'] {
  --background-primary-color: var(--grey-light-color-1);
  --background-secondary-color: var(--white-color);
  --background-secondary-reverse: var(--grey-color-3);
  --background-tertiary-color: var(--grey-light-color-5);
  --primary-color: var(--blue-color);
  --secondary-color: var(--orange-color-2);
  --text-primary-color: var(--grey-color-3);
  --text-primary-reverse: var(--white-color);
  --text-secondary-color: var(--grey-color-1);
  --text-tertiary-color: var(--grey-color-5);
  --border-grey-color: var(--grey-color-8);
  --border-grey-hover-color: var(--grey-color-7);
  --border-blue-color: var(--blue-color);
  --scrollbar-color: var(--grey-light-color-3);
  --control-background-hover: var(--grey-light-color-2);
  --control-background-hover-light: var(--grey-light-color-3);
  --control-background-active: var(--grey-light-color-3);
  --control-shadow: 0 2px 4px rgba(169, 194, 209, 0.55);
  --placeholder-color: var(--grey-color-1);
  --card-footer-background: var(--grey-light-color-1);
  --card-shadow: 0 2px 4px rgba(169, 194, 209, 0.05), 0 12px 16px rgba(169, 194, 209, 0.1);
  --card-shadow-shape: 0 32px 32px rgba(169, 194, 209, 0.1), 0 8px 16px rgba(169, 194, 209, 0.05);
  --dropdown-shadow: 0 16px 24px rgba(169, 194, 209, 0.25), 0 2px 4px rgba(169, 194, 209, 0.1);
  --dropdown-shadow-shape: 0 4px 32px rgba(169, 194, 209, 0.05), 0 2px 16px rgba(169, 194, 209, 0.05);
  --backdrop-color: var(--grey-color-3);
  --backdrop-opacity: 0.25;

  // scenex
  --link-color: var(--blue-color); // link
  --disabled-color: rgba(0, 0, 0, 0.1); // error

  // colorx
  --success-color: var(--green-color); // success
  --warning-color: var(--orange-color); // warning
  --error-color: var(--red-color-2); // error

  // left sider
  --sider-background-color: var(--black-color-3);
  --sider-background-active-color: var(--black-color-4);
  --sider-text-color: var(--grey-color-2);
  --sider-text-active-color: var(--blue-color);

  // header
  --header-text-color: var(--grey-color-3);
  --header-background-color: #fff;
  --header-background-hover-color: #f6f6f6;
}

html[data-theme='dark'] {
  --background-primary-color: var(--black-color);
  --background-secondary-color: var(--black-color-2);
  --background-secondary-reverse: var(--grey-light-color-3);
  --background-tertiary-color: var(--black-color-4);
  --primary-color: var(--blue-color-2);
  --secondary-color: var(--orange-color);
  --text-primary-color: var(--white-color);
  --text-primary-reverse: var(--grey-light-color-3);
  --text-secondary-color: var(--grey-color-4);
  --text-tertiary-color: var(--grey-color-6);
  --border-grey-color: var(--black-color-4);
  --scrollbar-color: var(--grey-color-6);
  --control-background-hover: var(--black-color-control-1);
  --control-background-hover-light: var(--black-color-control-light);
  --control-background-active: var(--black-color-control-2);
  --control-shadow: 0 2px 4px rgba(87, 100, 108, 0.55);
  --placeholder-color: var(--white-color);
  --card-footer-background: var(--background-secondary-color);
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 12px 16px rgba(0, 0, 0, 0.2);
  --card-shadow-shape: 0 32px 32px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
  --dropdown-shadow: 0 16px 24px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.1);
  --dropdown-shadow-shape: 0 4px 32px rgba(0, 0, 0, 0.05), 0 2px 16px rgba(0, 0, 0, 0.05);
  --backdrop-color: var(--black-color);
  --backdrop-opacity: 0.4;

  // scenex
  --link-color: var(--blue-color); // link
  --disabled-color: rgba(255, 255, 255, 0.25); // error

  // colorx
  --success-color: var(--green-color); // success
  --warning-color: var(--orange-color); // warning
  --error-color: var(--red-color); // error

  // left sider
  --sider-background-color: var(--black-color-2);
  --sider-background-active-color: var(--grey-color-2);
  --sider-text-color: var(--blue-color);
  --sider-text-active-color: var(--blue-color);

  // top header
  --header-text-color: var(--grey-light-color-3);
  --header-background-color: #394664;
  --header-background-hover-color: #273352;
}

html {
  height: 100%;
  font-family: sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.45;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0, 0);
  -webkit-overflow-scrolling: touch;

  &.gray-mode {
    filter: grayscale(100%);
  }
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: var(--font-family-default);
  font-size: calc(var(--font-size-base) * 1rem);
  font-weight: 400;
  line-height: 1.45;
  color: var(--text-primary-color);
  background: var(--background-primary-color);
  font-feature-settings: normal;
  font-variant: normal;
}

$theme-colors: (
  theme: var(--primary-color),
  blue: var(--blue-color),
  teal: var(--teal-color),
  red: var(--red-color-2),
  green: var(--green-color),
  orange: var(--orange-color-2),
  orange-dark: var(--orange-color),
  grey-bg: var(--background-primary-color),
  grey: var(--text-secondary-color),
  grey-dark: var(--text-primary-color),
  grey-light: var(--border-grey-color)
);
